@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Pretendard-Regular';
}

ul,li{
    list-style: none;
}

a, a:hover{
    text-decoration: none;
    color: black;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.mx-auto{
    margin: 0 auto;
}

.d-block{
    display: block;
}

.d-inline{
    display: inline;
}

.d-inline-block{
    display: inline-block;
}

.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.overflow-hidden{
    overflow: hidden;
}

.h-100{
    height: 100px;
}

.h-200{
    height: 200px;
}

.h-300{
    height: 300px;
}

.w-100{
    width: 100%;
}

.col-6{
    width: 100%;
}

.col-4{
    width: 33%;
}

.abs{
    position: absolute;
}

.rel{
    position: relative;
}

/* 꾸밈 css */

#hd{
    background-color: #222;
}

#tab{
    height: 100px;
}

#gnb > li{
    padding: 25px 0;
    text-align: center !important;
}

#gnb > li > a{
    color: white;
    width: 140px;
    height: 50px;
    line-height: 50px;
    display: block;
}

#gnb > li:hover > a{
    background-color: gray;
}

.d2ul{
    position: absolute;
    width: 140px;
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    top:100%;
    left: 0;
}

.d2ul li{
    padding: 15px 0;
}

#gnb > li:hover .d2ul{
    z-index: 999;
    height: 192px;
    background-color: black;
}

.d2ul li a{
    color: white;
}

.d2ul > li:hover{
    background-color: rgb(187, 154, 111) !important;
}

.swiper{
    position: relative;
    height: 300px;
}

.ani {
    height: 300px;
    overflow: hidden;
    display: flex;
    position: relative;
    width: 1000000px;
    /* animation: slideAnimation 10s infinite linear; */
  }

.ani div {
    height: 300px;
    display: flex;
    /* opacity: 0; */
    transition: 1s;
    
  }

.ani div.on {
    /* opacity: 1; */
    
   
  }

.slide-txt{
    padding: 20px 40px;
    font-size: 15pt;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    left: 50%; top: 25%;
    transform: translate(-50%,-25%);
    z-index: 555;
}

#link{
    position: relative;
    width: 400px;
}

#linkabs{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px 20px;
    background-color: rgba(187, 154, 111, 0.664);
}

.notice-title, .gallery-title{
    display: inline-block;
    padding: 9px 30px;
    color: white;
    background-color: rgb(187, 154, 111);
}

#notice ul{
    height: 160px;
    border: 1px solid rgb(197, 197, 197);
}

#notice li{
    height: 40px;
    line-height: 40px;
}

#gallery ul{
    height: 160px;
    border: 1px solid rgb(197, 197, 197);
}

#gallery li{
    margin:0 20px
}

#content{
    height: 200px;
}

.bg-gr{
    background-color: rgb(204, 204, 204);
}

.bg-white{
    background-color: white;
}

#ft{
    padding: 20px 0;
    height: 100px;
    background-color: rgb(187, 154, 111);
    color: white;
}

#snsbox img{
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.ml-5{
    margin-left: 15px;
}

.mr-5{
    margin-right: 15px;
}
